<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.imoocnettymuxin.mapper.UsersMapper" >
  <resultMap id="BaseResultMap" type="com.example.imoocnettymuxin.pojo.Users" >
    <!--
      WARNING - @mbg.generated
    -->
    <result column="USER" property="user" jdbcType="CHAR" />
    <result column="CURRENT_CONNECTIONS" property="currentConnections" jdbcType="BIGINT" />
    <result column="TOTAL_CONNECTIONS" property="totalConnections" jdbcType="BIGINT" />
  </resultMap>
</mapper>